.App {
  text-align: center;
  max-width: 1440px;
  margin: 0 auto;
  max-height: 900px;
}

header {
  background: #FFFFFF;
  display: flex;
  align-items: center;
  padding: 25px 162px;
  justify-content: space-between;
}

.title {
  width: 141px;
  height: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navigation {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.navigation > a:not(:last-child) {
  margin-right: 60px;
}

.navigation a{
  color: #232134;
  text-decoration: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

a.active{
  font-weight: 500;
  color: #5E96FC;
}

.CrossedEllipsesIcon {
  color: #5E96FC;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}

.Ellipse {
  width: 39.36px;
  height: 15.47px;
  border-radius: 50%;
  background-color: #5E96FC;
  position: absolute;
}

.Ellipse:first-child {
  transform: rotate(45deg);
}

.Ellipse:last-child {
  transform: rotate(-45deg);
}

h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.02em;
  color: #232134;
  width: 99px;
}

.frame {
  width: 773px;
}

.main{
  display: flex;
  margin: 40px auto;
  max-width: 1116px;
  justify-content: space-between;
}

button:hover svg {
  color: #5E96FC;
}

.empty {
  max-width: 327px;
  margin: 0 auto;
  padding-top: 120px;
}

.favorites {
  max-width: 773px;
  margin: 40px auto 0;
}

.property-vacancy{
  display: flex;
  align-items: center;
  margin: 12px 0;
  justify-content: space-between;
}

.filters {
  max-height: 360px;
  max-width: 315px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.solo-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.button {
  background-color: #5E96FC;
}

@media (max-width: 575px) {
  header {
    padding: 15px;
  }
  .button {
    margin-top: 20px;
  }
  .frame {
    width: 100%;
  }
  .main {
    flex-direction: column;
    margin: 20px auto;
  }
  .filters{
    max-width: 100%;
  }
  .navigation > a:not(:last-child) {
    margin-right: 10px;
  }
}

@media (max-width: 370px) {
  .solo-card {
    flex-direction: column;
  }
  .property-vacancy {
    flex-direction: column;
  }
  .info-card{
    align-items: center;
  }
}
