.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
header {
  background: #FFFFFF;
  display: flex;
  align-items: center;
  padding: 10px 162px;
  justify-content: space-around;
}

.title {
  width: 141px;
  height: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.CrossedEllipsesIcon {
  color: #5E96FC;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}

.Ellipse {
  width: 39.36px;
  height: 15.47px;
  border-radius: 50%;
  background-color: #5E96FC;
  position: absolute;
}

.Ellipse:first-child {
  transform: rotate(45deg);
}

.Ellipse:last-child {
  transform: rotate(-45deg);
}

h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.02em;
  color: #232134;
  width: 99px;
}

.navigation {
  width: 275px;
  display: flex;
  justify-content: space-between;
}

.navigation a{
  text-decoration: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.active{
  color: #5E96FC;
}

.frame {
  width: 773px;
}

.main{
  display: flex;
  margin: 40px auto;
  max-width: 1116px;
  justify-content: space-between;
}
